fastapi==0.115.0
fastapi-cli==0.0.24
fastapi-cloud-cli==0.15.0

uvicorn==0.30.6

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu

pillow==10.4.0

scikit-learn==1.8.0

python-multipart==0.0.9

google-cloud-storage==2.18.2

loguru==0.7.2

